<html>
<head>
<title>Brainbin</title>
<link rel="stylesheet" href="/stylesheets/canvas.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/base/jquery.ui.all.css" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script src="/nowjs/now.js" type="text/javascript"></script>

<script>
  var numNotes = 0;

  $(function() {
    $('#entryfield').text("waiting for server....");
    $('#entryfield').attr('disabled', true);

    $('#entryfield').keydown(function(e) {
      if(e.keyCode == 13) {
        e.preventDefault(); // Makes no difference
        $(this).parent().submit(); // Submit form it belongs to
        $(this).val(""); // clear it
       }
    });

    $("button").button();

    function createNote(id, data) {
         // Data: id, offset, text, color
        div = $("<div id=\""+id+"\" class=\"ui-widget-content draggable note\">"+data['text']+"</div>");
        var bg = ''
        if (data.color) {
           bg = data.color;
        } else {
           bg = '#'+Math.floor(Math.random()*16777215).toString(16);
        }
        div.css("background", bg);
        return div;
    }    

    now.updateNote = function(id) {
       console.log("Need to update "+id);
       data = now.noteList[id];
       note = $('#'+id);
       var offset = data.pos.x+" "+data.pos.y;
       console.log(offset);
       note.position({
          my: "left top",
          at: "left top",
          of: "#field",
          offset: offset,
          collision: "flip"
      });
    }

    now.addNote = function(id, data, parent) {
      note = createNote(id, data);
      $(parent).append(note);
      var offset = data.pos.x+" "+data.pos.y;
      note.draggable({
             containment: "#field",
             scroll: false,
             stop: function(e) {
                var pos = $(this).position();
                var newPos = {x: pos.left, y: pos.top};
                now.triggerUpdate(id, newPos);
      	     }
           });
      note.position({
          my: "left top",
          at: "left top",
          of: parent,
          offset: offset, // this is buggy, if the size of div element changes, the background will move as well.
          collision: "flip"
      });
    }

    now.newNoteNotify = function(id, data) {
      now.addNote(id, data, '#field');
    }

    $("form").submit(function() {
      var text = $("textarea:first").val();
      var newId = Math.floor(Math.random()*16777215).toString(16);
      var newPos = {x: now.lastPos.x+20, y: now.lastPos.y+20 };
      data = {text: text, pos: newPos, color: "yellow"};
      now.addToList(newId, data, newPos);
      return false;
    });

    $("button").click(function() {
       now.clearNotes();
       now.clearList();
    });

    now.clearAll = function() {
       console.log("Should have cleaned");
       $(".note").remove();
    }

    // Load notes from server
    now.ready(function() {
      $('#entryfield').val("");
      $('#entryfield').attr('disabled', false);
      for(id in now.noteList) {
       note = now.noteList[id];
       now.addNote(id, note, "#field");
      };
    });

  });
</script>

</head>
<body>
<h2> Some title will come here </h2>

<div class="demo" id="field"></div>

<div id="footer">

  <div id="input">
    <form action="">
      <textarea id="entryfield" rows="3" cols="60"></textarea>
    </form>
  </div>

  <div id="removal">
    <button>Clear notes</button>
  </div>

</div>

</body>
</html>
