<html>
<head>
<title>Brainbin</title>
<link rel="stylesheet" href="/stylesheets/canvas.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/base/jquery.ui.all.css" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

<script>
  var numNotes = 0;

  $(function() {

    $('#entryfield').keydown(function(e) {
      if(e.keyCode == 13) {
        e.preventDefault(); // Makes no difference
        $(this).parent().submit(); // Submit form it belongs to
        $(this).val(""); // clear it
       }
    });

    $("button").button();

    function createNote(data) {
         // Data: id, offset, text, color
        div = $("<div id=\""+data['id']+"\" class=\"ui-widget-content draggable note\">"+data['text']+"</div>");
        var bg = ''
        if (data.color) {
           bg = data.color;
        } else {
           bg = '#'+Math.floor(Math.random()*16777215).toString(16);
        }
        div.css("background", bg);
        return div;
    }    

    function addNote(data, parent) {
      note = createNote(data);
      $(parent).append(note);
      var offset = data.pos.x+" "+data.pos.y;
      note.draggable({
             containment: "#field",
             scroll: false,
             stop: function(e) {
                var pos = $(this).position();
                lastPos = {x: pos.left, y: pos.top};
                console.log(lastPos.x+" "+lastPos.y);
                console.log($(this).parent());
      	     }
           });
      note.position({
          my: "left top",
          at: "left top",
          of: parent,
          offset: offset, // this is buggy, if the size of div element changes, the background will move as well.
          collision: "flip"
      });
    }

    var noteList = new Array();
    <!-- var noteList = new Array({text: 'Hello', id: 'xyz', pos: {x: 100, y:200}, color: "green"}, -->
    <!--                          {text: 'Mofo', id: 'uvw', pos: {x: 200, y:250}, color: "red"}, -->
    <!--                          {text: '!', id: 'uvw', pos: {x: 250, y:300}, color: "red"}); -->


    var lastPos = {x:0, y:0};

    $.each(noteList, function () {
       console.log(this);
       addNote(this, "#field");
       lastPos = this.pos;
    });

    $("form").submit(function() {
      var text = $("textarea:first").val();
      numNotes++;
      var newId = numNotes;
      lastPos = {x: lastPos.x+20, y: lastPos.y+20 };
      console.log('Creating note at '+lastPos.x+" "+lastPos.y);

      data = {text: text, id: newId, pos: lastPos, color: "yellow"};
      addNote(data, "#field");
      return false;
    });

    $("button").click(function() {
       $(".note").remove();
       notelist = [];
       lastPos = {x:0, y:0};
    });
     
  });
</script>

</head>
<body>
<h2> Some title will come here </h2>

<div class="demo" id="field"></div>

<div id="footer">

  <div id="input">
    <form action="">
      <textarea id="entryfield" rows="3" cols="60"></textarea>
    </form>
  </div>

  <div id="removal">
    <button>Clear notes</button>
  </div>

</div>

</body>
</html>
