body {
 background: lightblue;
}

div#field {
    /* border: solid 1px; */
    position: absolute;
    left: 0;
    top: 50;
    height: 80%;
    width: 90%;
}

div.draggable { 
    /* width: 7em; */
    /* height: 7em; */
    font-size: 20px;
    padding: 0.2em;
    background: yellow;
    border: solid 1px;
    display: inline-block;
    word-wrap: break-word;
    max-width: 125px;
    vertical-align: top;
}

#footer {
    position: fixed;
    bottom: 0;
}

textarea#entryfield {
    font-size: 20px;
}

#input {
    width: 100%
}

#removal {
}

div.colorselect {
    float: right;
    width: 20;
    height: 20;
    border: solid 1px;
    margin: 5px;
}

div.colorselect#yellow {
    background: yellow;
}
div.colorselect#orange {
    background: orange;
}
div.colorselect#lightgreen {
    background: lightgreen;
}
